@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  @apply bg-black;
} */

@layer base {
  :root {
    --background: 0 0% 100%;

    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;

    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;

    --primary-foreground: 0 0% 98%;

    --secondary: 360 79% 50%;

    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;

    --muted-foreground: 0 0% 45.1%;

    --accent: 48 98% 50%;

    --accent-red: 360 79% 62%;

    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;

    --input: 0 0% 89.8%;

    --ring: 0 0% 3.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;

    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;

    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;

    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;

    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;

    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;

    --input: 0 0% 14.9%;

    --ring: 0 0% 83.1%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme {
  --color-yellow-50: "#fff9e6";
  --color-yellow-100: "#fff3cc";
  --color-yellow-200: "#fee799";
  --color-yellow-300: "#fddb66";
  --color-yellow-400: "#fdd033";
  --color-yellow-500: "#fccb05";
  /* // Core brand yellow */
  --color-yellow-600: "#d9af04";
  --color-yellow-700: "#b69204";
  --color-yellow-800: "#937503";
  --color-yellow-900: "#705902";
  --color-red-50: "#fdeaeb";
  --color-red-100: "#fbd5d6";
  --color-red-200: "#f7acad";
  --color-red-300: "#f38384";
  --color-red-400: "#ef5a5b";
  --color-red-500: "#EB5152";
  /* // Core brand red */
  --color-red-600: "#d83a3b";
  --color-red-700: "#b52f30";
  --color-red-800: "#922526";
  --color-red-900: "#6f1c1d";
}

@layer {
  .responsiveContainer {
    /* @apply mx-auto max-w-[300px] px-[var(--container-padding)] md:max-w-[var(--container-max-width-md)] lg:max-w-[var(--container-max-width-lg)] xl:max-w-[var(--container-max-width-xl)] 2xl:max-w-[var(--container-max-width-2xl)]; */
    @apply mx-auto max-w-md content-center px-[2rem] lg:max-w-[1000px] 2xl:max-w-[1600px];
  }
}
